$modal-identifica : '.modal-identifica';

#{$modal-identifica}{
    &__content {
        background-color: $color-secondary;
        .modal-title {
            display: block;
            text-align: center;
            width: 100%;
            .icon-smile {
                height: 55px;
                width: 70px;
                margin-left: 1.5rem;
            }
        }
        .modal-footer {
            justify-content: center;
        }
    }
}