$producto-image: '.ki-infoproducto';

#{$producto-image}{
    background: #fff;
    border-radius: 0 40px 40px 0;
    margin: 4rem 0;
    height: 60%;
    width: 100%;   
    position: relative;
    z-index: 3;
    &__head	{
        color: $orange-ki;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 800;
        .prod-nombre {
            background: #fbe018;
            border-radius: 5px;
            margin-right: 1.5rem;
            padding: .5rem 1rem;
        }  
        .prod-precio {
            color: $purple-ki;
            font-size: 2.2rem;
            font-weight: 900;
            margin-left: 1.5rem;
        }

    }
    &.ki-productos__item {
        .rombo{
            height: 36%;
            &:before {
                border-width: 50px 90px 0 0;
                border-color: #fff transparent transparent transparent;
            }
        }
    }
}